$padding: 20px;

.jkt-posts-grid-item {
	display: flex;
	flex-direction: column;
	
	border: 1px solid #d6d9dc;
	box-shadow: 0 0.75rem 1.5rem 2px #d6d9dc;
	border-radius: 7px;
	
	img {
		width: 100%;
		border-style: none;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		margin-bottom: 0px;
	}
	
	.jkt-badge {
		margin: 10px 10px 0 0;
	}
	
	margin-bottom: 20px;
}

.jkt-posts-article-author-avatar {
	img {
		width: 78px;
		height: 78px;
		border-radius: 50%;
	}
}

.jkt-posts-article-body {
	padding: calc(#{$padding} / 2) $padding $padding;
	
	.date {
		margin-bottom: 10px;
	}
	
	p {
		margin-bottom: 0;
	}
}

.jkt-posts-article-top-delimiter {
	position: relative;
	
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		width: 80%;
		height: 1px;
		margin-left: -40%;
		content: '';
		background: radial-gradient(ellipse at center, #dee4ef 0, rgba(255,255,255,0) 75%);
	}
}

.jkt-posts-article-footer {
	padding: $padding;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: $padding;
	
	span {
		font-size: 0.9rem;
	}
}