.jkt-post {
	margin-top: 1rem;
}

.jkt-post-image {
	position: relative;
	margin-bottom: 25px;
}

.jkt-post-header-meta {
	margin-bottom: 1rem;
	font-size: 0.8125rem;
	@include themify() {
		color: v(post-header-meta-text-color);
	}
}

.jkt-post-body {
	.jkt-blockquote {
		margin-bottom: 0.5rem;
	}
	
	> h1 {
		@extend .jkt-heading;
	}
	> h2, > h3, > h4, > h5, > h6 {
		@extend .jkt-heading;
		margin-top: 1rem;
	}
	
	h1 {
		font-size: 1.8rem;
	}
	
	h2 {
		font-size: 1.4rem;
	}
	
	h3 {
		font-size: 1.25rem;
	}
	
	h4 {
		font-size: 1.15rem;
	}
	
	h5 {
		font-size: 1.1rem;
	}
}

.jkt-post-thumbnails {
	margin-right: 25px;
	margin-bottom: 25px;
	padding: 10px;
}

@media (min-width: $device-width-breakpoint-large) {
	.jkt-post-body {
		float: none;
	}
	
	.jkt-post-thumbnails {
		float: left;
		width: 450px;
	}
}