.#{$bjk-css-prefix}-post-page {
	margin-top: 1rem;
}

.#{$bjk-css-prefix}-post-page-body {
	.jkt-blockquote {
		margin-bottom: 0.5rem;
	}
	
	> h1 {
		@extend .#{$bjk-css-prefix}-heading;
	}
	> h2, > h3, > h4, > h5, > h6 {
		@extend .#{$bjk-css-prefix}-heading;
		margin-top: 1rem;
	}
	
	h1 {
		font-size: 1.8rem;
	}
	
	h2 {
		font-size: 1.4rem;
	}
	
	h3 {
		font-size: 1.25rem;
	}
	
	h4 {
		font-size: 1.15rem;
	}
	
	h5 {
		font-size: 1.1rem;
	}
}

.#{$bjk-css-prefix}-post-thumbnails {
	margin-right: 25px;
	margin-bottom: 25px;
	padding: 10px;
}

@media (min-width: $device-width-breakpoint-large) {
	.#{$bjk-css-prefix}-post-page-body {
		float: none;
	}
	
	.#{$bjk-css-prefix}-post-thumbnails {
		float: left;
		width: 450px;
	}
}