{% if paginator.total_pages > 1 %}
	<nav class="gs-bjk-paginator-buttons">
		{% if paginator.previous_page %}
			<a class="gs-bjk-button gs-bjk-button-solid-blue" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="gs-button-left-icon fas fa-long-arrow-alt-left"></i>Previous</a>
		{% endif %}
		
		{% if paginator.page_trail %}
			{% for trail in paginator.page_trail %}
				<a class="gs-bjk-button gs-bjk-button-solid-blue{% if page.url == trail.path %} gs-text-underline{% endif %}" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
			{% endfor %}
		{% endif %}
		
		{% if paginator.next_page %}
			<a class="gs-bjk-button gs-bjk-button-solid-blue" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next<i class="gs-button-right-icon fas fa-long-arrow-alt-right"></i></a>
		{% endif %}
	</nav>
{% endif %}