.jkt-margin-10 {
	margin: 10px;
}

.jkt-margin-top-10 {
	margin-top: 10px;
}

.jkt-margin-top-20 {
	margin-top: 20px;
}

.jkt-margin-right-20 {
	margin-right: 20px;
}

.jkt-margin-bottom-20 {
	margin-bottom: 20px;
}

.jkt-padding-10 {
	padding: 10px;
}

.jkt-padding-20 {
	padding: 20px;
}