// https://medium.com/@sanuthadathil/theme-and-color-scheme-sass-way-a62d68614ef3
// https://stackoverflow.com/questions/64390664/how-to-implement-switchable-themes-in-scss
// https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
// https://github.com/kaitlinmctigue/kaitlinmctigue.github.io/blob/source/src/styles/_color-themes.scss

$themes: (
	default: (
		heading-color: $color-blue,
		link-color: $color-blue,
		page-header-background-color: $color-white,
		page-header-bottom-border-color: $color-gray80,
		page-header-menu-icon-color: $color-blue,
		page-body-header-background-color: $color-gray98,
		page-footer-border-top-color: $color-blue,
		page-footer-background-color: $color-gray98,
		page-footer-text-color: #8a8986,
		blockquote-background-color: $color-gray98,
		blockquote-border-color: #00000006,
		blockquote-quote-border-color: $color-blue transparent transparent transparent,
		blockquote-quote-color: $color-white,
		blockquote-footer-text-color: #6c757d,
		form-searchfield-border-color: $color-gray98,
	)
);

@mixin themify() {
	@each $theme, $map in $themes {
		.jkt-theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function v($key) {
	@return map-get($theme-map, $key);
}