// Sticky sidebar - https://www.paigeniedringhaus.com/blog/use-css-grid-to-make-a-fixed-sidebar-with-scrollable-main-body

.#{$bjk-css-prefix}-sidebar {
	display: grid;
	grid-template-areas:
		"n"
		"c";
}

.#{$bjk-css-prefix}-sidebar-left-panel {
	grid-area: n;
}

.#{$bjk-css-prefix}-sidebar-right-panel {
	grid-area: c;
}

@media (min-width: $device-width-breakpoint-medium) {
	.#{$bjk-css-prefix}-sidebar {
		grid-template-columns: 200px auto;
		grid-template-areas:
			"n c";
	}
}

@media (min-width: $device-width-breakpoint-xlarge) {
	.#{$bjk-css-prefix}-sidebar {
		grid-template-columns: 300px auto;
	}
}