.#{$gs-css-prefix}-background-color-white {
	background: $color-white;
}

.#{$gs-css-prefix}-background-color-palegreen2 {
	background: $color-palegreen2;
}

.#{$gs-css-prefix}-background-color-gray98 {
	background: $color-gray98;
}