@mixin _makeOutlineButton($background-color, $text-color, $border-width) {
	background: $background-color;
	color: $text-color !important;
	border-color: $text-color;
	border-width: $border-width;
	&:hover {
		background: $text-color;
		border-color: $text-color;
		color: $background-color !important;
	}
}

@mixin _makeSolidButton($background-color, $text-color, $border-width) {
	background: $background-color;
	color: $text-color !important;
	border-width: $border-width;
	&:hover {
		background: $text-color;
		border-color: $background-color;
		color: $background-color !important;
	}
}

.#{$gs-css-prefix}-button-left-icon {
	margin-right: 8px;
}

.#{$gs-css-prefix}-button-right-icon {
	margin-left: 8px;
}