@mixin _styleLinkApplySameColorToAllStates($color) {
	a:link, a:visited, a:hover, a:active {
		color: $color;
	}
}

.#{$gs-css-prefix}-link-text-white {
	@include _styleLinkApplySameColorToAllStates($color-white);
}

.#{$gs-css-prefix}-link-no-underline {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.#{$gs-css-prefix}-link-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
	}
}