@mixin _styleLinkApplySameColorToAllStates($color) {
	a:link, a:visited, a:hover, a:active {
		color: $color;
	}
}

.gs-link-no-underline {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.gs-link-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
	}
}