.#{$gs-css-prefix}-list-no-style {
	list-style: none;
	margin: 0;
	padding: 0;
}

.#{$gs-css-prefix}-list-inline {
	li {
		display: inline-block;
	}
}

.#{$gs-css-prefix}-list-item-margin-right-10 {
	li:not(:last-child) {
		margin-right: 10px;
	}
}

.#{$gs-css-prefix}-list-item-margin-bottom-10 {
	li:not(:last-child) {
		margin-bottom: 10px;
	}
}

.#{$gs-css-prefix}-list-item-margin-bottom-16 {
	li:not(:last-child) {
		margin-bottom: 16px;
	}
}