@mixin _generateListItemSpacingProperty($prefix, $spacing, $lower-range, $upper-range, $property) {
	@for $i from $lower-range through $upper-range {
		$size: $i;
		
		.#{$prefix}-#{$size} {
			li:not(:last-child) {
				#{$property}: $spacing * $size;
			}
		}
		
		//@debug #{$prefix}-#{$size}
	}
}

.#{$gs-css-prefix}-list-no-style {
	list-style: none;
	margin: 0;
	padding: 0;
}

.#{$gs-css-prefix}-list-inline {
	li {
		display: inline-block;
	}
}

@include _generateListItemSpacingProperty(#{$gs-css-prefix} + '-list-item-margin-right', 1px, 0, 25, margin-right);
@include _generateListItemSpacingProperty(#{$gs-css-prefix} + '-list-item-margin-bottom', 1px, 0, 25, margin-bottom);