.gs-text-underline {
	text-decoration: underline !important;
}

.gs-text-uppercase {
	text-transform: uppercase;
}

.gs-text-bold {
	font-weight: bold;
}

.gs-text-b16-m2 {
	font-size: 0.875rem;
}