.#{$gs-css-prefix}-text-underline {
	text-decoration: underline !important;
}

.#{$gs-css-prefix}-text-uppercase {
	text-transform: uppercase;
}

.#{$gs-css-prefix}-text-bold {
	font-weight: bold;
}

.#{$gs-css-prefix}-text-b16-m2 {
	font-size: 0.875rem;
}