.#{$bjk-css-prefix}-resume-classic {
	padding: 1.5em;
	border: 1px solid rgba(0, 0, 0, 0.025);
	box-shadow: 0 16px 48px rgba(0, 0, 0, 0.175);
	
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		text-transform: uppercase;
		color: $color-blue;
	}
	
	h1, .h1 {
		font-size: 2.75em;
	}
	
	h2, .h2 {
		font-size: 1.5em;
	}
	
	a {
		text-decoration: none;
		background-color: transparent;
	}
}

.#{$bjk-css-prefix}-resume-classic-section-heading {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: $color-blue;
	h2 {
		letter-spacing: 0.125em;
	}
}

.#{$bjk-css-prefix}-resume-classic-section-content {
	padding: 0.5em;
	margin-bottom: 0.625em;
}

.#{$bjk-css-prefix}-resume-classic-header-section {
	text-align: center;
	
	h1 {
		font-weight: 900;
		letter-spacing: 0.125em;
		margin-bottom: 0;
	}
	
	h2 {
		text-transform: capitalize;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		li {
			display: inline;
			
			i {
				font-size: 1.75em;
				margin-right: 0.250em;
				color: $color-blue;
			}
		}
		li:not(:last-child) {
			&:after {
				content: "|";
				margin-right: 15px;
				margin-left: 15px;
			}
		}
	}
}

.#{$bjk-css-prefix}-resume-classic-work-history-section {
	.#{$bjk-css-prefix}-resume-classic-work-history-job-employer {
		color: $color-blue;
	}
	
	.#{$bjk-css-prefix}-resume-classic-work-history-job-position {
		margin-left: 0.7em;
		margin-bottom: 0.625em;
		
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 0.438em;
		
		ul {
			margin-bottom: 0;
			padding-left: 0;
			list-style-position: inside;
			text-indent: -23px;
    		margin-left: 23px;
		}
	}
	
	.#{$bjk-css-prefix}-resume-classic-work-history-job-position-title {
		font-weight: bold;
		color: $color-blue;
	}
	
	.#{$bjk-css-prefix}-resume-classic-work-history-job-position-duration {
	}
}

.#{$bjk-css-prefix}-resume-classic-accomplishments-section {
	ul {
		padding-left: inherit;
	}
}

//.#{$bjk-css-prefix}-resume-classic-projects-section {
//	.#{$bjk-css-prefix}-resume-classic-projects-project {
//		display: grid;
//		grid-template-columns: 1fr;
//		grid-row-gap: 0.438em;
//	}
//	
//	.#{$bjk-css-prefix}-resume-classic-projects-project-title {
//		color: $color-blue;
//	}
//}

.#{$bjk-css-prefix}-resume-classic-education-school {
	color: $color-blue;
}

@media (min-width: $device-width-breakpoint-medium) {
	.#{$bjk-css-prefix}-resume-classic-section-content {
		padding: 0.8em;
	}
	
	.#{$bjk-css-prefix}-resume-classic-work-history-section {
		.#{$bjk-css-prefix}-resume-classic-work-history-job-position {
			grid-template-columns: 250px 1fr;
			grid-row-gap: 1em;
		}
	}
	
//	.#{$bjk-css-prefix}-resume-classic-projects-section {
//		.#{$bjk-css-prefix}-resume-classic-projects-project {
//			grid-template-columns: 250px 1fr;
//			grid-row-gap: 1em;
//		}
//	}
}

@media (min-width: $device-width-breakpoint-large) {
	.#{$bjk-css-prefix}-resume-classic {
		padding: 3em;
	}
	
	.#{$bjk-css-prefix}-resume-classic-section-content {
		padding: 1em;
	}
	
	.#{$bjk-css-prefix}-resume-classic-work-history-section {
		.#{$bjk-css-prefix}-resume-classic-work-history-job-position {
			grid-template-columns: 300px 1fr;
		}
	}
	
//	.#{$bjk-css-prefix}-resume-classic-projects-section {
//		.#{$bjk-css-prefix}-resume-classic-projects-project {
//			grid-template-columns: 300px 1fr;
//		}
//	}
}