<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

{% include theme-core/utils/get-page-url.html %}
<link rel="canonical" href="{{ __return }}">

{% include theme-core/utils/get-page-title.html %}
{% if __return %}
	<title>{{ __return }}</title>
{% endif %}

{% include theme-core/html/head/head-seo.html %}
{% include theme-core/html/head/head-favicon.html %}
<link rel="stylesheet" type="text/css" href="{{ 'assets/this-site/css/style.css' | relative_url }}">
{% include theme-core/html/head/head-css.html %}
{% include theme-core/html/head/head-scripts.html google-analytics-measurement-id=site.google_analytics_measurement_id %}