.#{$gs-css-prefix}-margin-10 {
	margin: 10px;
}

.#{$gs-css-prefix}-margin-top-10 {
	margin-top: 10px;
}

.#{$gs-css-prefix}-margin-top-20 {
	margin-top: 20px;
}

.#{$gs-css-prefix}-margin-right-10 {
	margin-right: 10px;
}

.#{$gs-css-prefix}-margin-right-20 {
	margin-right: 20px;
}

.#{$gs-css-prefix}-margin-bottom-10 {
	margin-bottom: 10px;
}

.#{$gs-css-prefix}-margin-bottom-20 {
	margin-bottom: 20px;
}

.#{$gs-css-prefix}-padding-10 {
	padding: 10px;
}

.#{$gs-css-prefix}-padding-20 {
	padding: 20px;
}