.#{$bjk-css-prefix}-anchor {
	display: block;
	position: relative;
	visibility: hidden;
}

@media (min-width: $device-width-breakpoint-medium) {
	.#{$bjk-css-prefix}-anchor {
		top: calc(#{$medium-device-page-header-height} * -1);
	}
}

@media (min-width: $device-width-breakpoint-large) {
	.#{$bjk-css-prefix}-anchor {
		@include themify() {
			top: calc(#{v(large-device-page-header-height)} * -1);
		}
	}
}