.#{$bjk-css-prefix}-heading-color {
	@include themify() {
		color: v(heading-color);
	}
}

.#{$bjk-css-prefix}-heading {
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	@include themify() {
		color: v(heading-color);
	}
}

.#{$bjk-css-prefix}-heading-vertical-bar {
	@extend .#{$bjk-css-prefix}-heading;
	position: relative;
	padding-left: 1rem;
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		width: 5px;
		height: 100%;
		left: 0;
		top: 0;
		@include themify() {
			background: v(heading-color);
		}
   }
}

.#{$bjk-css-prefix}-heading-line-separator {
	@extend .#{$bjk-css-prefix}-heading;
	display: grid;
	width: 100%;
	align-items: center;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
	grid-gap: 20px;
	&:before,
	&:after {
		content: "";
		border-top-style: solid;
		border-top-width: 1px;
		@include themify() {
			border-top-color: v(heading-color);
		}
	}
}