.#{$bjk-css-prefix}-jumbotron {
	position: relative;
	clear: both;
	background-size: cover;
	background-repeart: no-repeat;
	background-position: center;
}

.#{$bjk-css-prefix}-jumbotron-content {
	height: 400px;
	padding-left: $viewport-left-padding;
	padding-right: $viewport-right-padding;
	@extend .gs-grid-align-vertical-center;
}

@media (min-width: $device-width-breakpoint-xlarge) {
	.#{$bjk-css-prefix}-jumbotron-content {
		min-width: $viewport-content-max-width;
		max-width: $viewport-content-max-width;
		@include _marginAlignHorizontalCenter;
		padding-left: 0;
		padding-right: 0;
	}
}