.jkt-linktree-page {
	display: grid;
	grid-template-areas:
		// h = header
		// b = body
		"h"
		"b";
}

.jkt-linktree-page-header {
	min-height: 200px;
	grid-area: h;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	
	img {
		width: 250px;
	}
}

.jkt-linktree-page-body {
	grid-area: b;
	width: 100%;
}

.jkt-linktree-links {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
}

.jkt-linktree-button {
	height: 4rem;
	display: flex;
	align-items: center;
	
	i {
		margin-right: auto;
	}
	
	span {
		margin-right: auto;
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-linktree-page-body {
		min-width: 648px;
		max-width: 648px;
	}
}