.jkt-page-body {
	grid-area: c;
	display: grid;
	grid-template-rows: auto 10px 1fr 10px;
	grid-template-columns: minmax(0, 1fr); // prevent grid blowout i.e. when embedding a gist in the grid
	grid-template-areas:
		// ch = content header
		// cm = content main
		"ch"
		"."
		"cm";
	
	position: relative;
}

.jkt-page-body-header {
	grid-area: ch;
	padding-top: .75rem;
	padding-bottom: .75rem;
	@include themify() {
		background: v(page-body-header-background-color);
	}
}

.jkt-page-body-header-inner {
	margin-left: auto;
	margin-right: auto;
	@include themify() {
		padding-left: v(page-body-left-padding);
		padding-right: v(page-body-right-padding);
	}
	
	.jkt-breadcrumbs {
		margin-bottom: 1rem;
	}
}

.jkt-page-body-main {
	grid-area: cm;
	@include themify() {
		padding-left: v(page-body-left-padding);
		padding-right: v(page-body-right-padding);
	}
	
	> section {
		> h3, > h4, > h6 {
			@extend .jkt-heading-line-separator;
		}
	}
	
	section:not(:last-child) {
		margin-bottom: 1rem;
	}
}

@media (min-width: $device-width-breakpoint-xlarge) {
	.jkt-page-body-header-inner {
		max-width: 1140px;
	}
	
	.jkt-page-body-main {
		min-width: 1140px;
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}
}