.jkt-layout-reel {
	padding-left: $viewport-left-padding;
	padding-right: $viewport-right-padding;
}

@media (min-width: $device-width-breakpoint-xlarge) {
	.jkt-layout-reel {
		min-width: 1140px;
		max-width: 1140px;
		@include jkt-margin-align-horizontal-center;
		padding-left: 0;
		padding-right: 0;
	}
}