// https://www.color-hex.com/color/90ee90

$color-black: #000;
$color-white: #fff;

$color-palegreen2: #90ee90;

$color-gray16: #292929;
$color-gray60: #999999;
$color-gray80: #cccccc;
$color-gray84: #d6d6d6;
$color-gray94: #f0f0f0;
$color-gray98: #fafafa;

.gs-color-black {
	color: $color-black;
}

.gs-color-white {
	color: $color-white;
}