$gs-css-prefix:        gs !default;

$grid-1c-column-width: 100%;
$grid-1c-gutter-width: 0;
$grid-2c-column-width: 49%;
$grid-2c-gutter-width: 2%;
$grid-3c-column-width: 32%;
$grid-3c-gutter-width: 2%;
$grid-row-gap: 20px;