$small-device-page-header-height: 60px;
$medium-device-page-header-height: 80px;

$viewport-content-max-width: 1140px;
$viewport-left-padding: 16px;
$viewport-right-padding: 16px;

$color-blue: #205ec9;
$color-blue-midnight: #001e45;

$color-green-lime: #5dc212;