$device-width-breakpoint-small: 576px;		// Small devices (landscape phones, 576px and up)
$device-width-breakpoint-medium: 768px;		// Medium devices (tablets, 768px and up)
$device-width-breakpoint-large: 992px;		// Large devices (desktops, 992px and up)
$device-width-breakpoint-xlarge: 1200px;	// Extra large devices (large desktops, 1200px and up)
$device-width-breakpoint-xxlarge: 1400px;	// Extra extra large devices (large desktops, 1400px and up)