*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: $font-Segeo;
	font-size: 16px;
	line-height: 1.5;
}

.root {
	height: 100%;
}

body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 2.5em;
}

h2, .h2 {
	font-size: 2em;
}

h3, .h3 {
	font-size: 1.75em;
}

h4, .h4 {
	font-size: 1.5em;
}

h5, .h5 {
	font-size: 1.25em;
}

h6, .h6 {
	font-size: 1em;
}

a {
	@include themify() {
		color: v(link-color);
	}
	text-decoration: none;
	
	@include hover {
		@include themify() {
			color: v(link-color);
		}
		text-decoration: underline;
		@include opacity(0.8);
	}
}

ol, ul, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}