.jkt-site-navbar {
	display: grid;
	grid-template-columns: $viewport-left-padding repeat(2, 1fr) $viewport-right-padding;
	height: 100%;
}

.jkt-site-navbar-logo {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: start;
	align-self: center;
	
	img {
		height: calc(#{$small-device-page-header-height} - 10px);
	}
}

.jkt-site-navbar-menu-toggler {
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: end;
	align-self: center;
	
	@include opacity(0.8);
	padding: 0rem .6rem;
	background-color: transparent;
	border: 0px;
	@include themify() {
		color: v(page-header-menu-icon-color);
	}
	
	&:hover {
		@include opacity(1);
	}
	&:focus {
	    outline: 0 !important;
	}
}

.jkt-site-navbar-text {
	font-size: 1.2rem;
	font-weight: bold;
}

.jkt-site-navbar-menu {
	display: none;
	
	ul {
		list-style-type: none;
		padding: 0px;
		
		li:not(:last-child) {
			padding-bottom: 10px;
		}
	}
	
	&.show {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
	}
}

.jkt-site-navbar-menu-item {
	position: relative;
}

.jkt-site-navbar-menu-dropdown {
	position: relative;
	
	&.show {
		.jkt-site-navbar-menu-dropdown-trigger {
			&:after {
				transform: rotate(90deg);
			}
		}
		
		.jkt-site-navbar-dropdown-menu {
			display: block;
			opacity: 1;
		}
	}
}

.jkt-site-navbar-menu-dropdown-trigger {
	&:after {
		float: right;
		font-family: $font-fontAwesome5;
		font-weight: 700;
		font-style: normal;
		font-size: 0.75rem;
		content: "\f054";
	}
}

.jkt-site-navbar-dropdown-menu {
	display: none;
	opacity: 0;
}

.jkt-site-navbar-dropdown-menu-panel {
	padding: 20px;
	background-color: $color-white;
	
	display: grid;
	grid-template-columns: 32px 1fr;
	column-gap: 20px;
	row-gap: 20px;
	
	img {
		width: 32px;
		height: 32px;
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-site-navbar {
		grid-template-columns: $viewport-left-padding repeat(6, 1fr) $viewport-left-padding;
	}
	
	.jkt-site-navbar-logo {
		grid-column-start: 2;
		grid-column-end: 4;
		
		img {
			height: calc(#{$medium-device-page-header-height} - 20px);
		}
	}

	.jkt-site-navbar-menu-toggler {
		display: none;
	}
	
	.jkt-site-navbar-menu {
		display: grid;
		grid-column-start: 4;
		grid-column-end: 6;
		justify-self: center;
		align-self: center;
		
		ul {
			li {
				display: inline;
			}
			
			li:not(:last-child) {
				padding-bottom: 0px;
				padding-right: 20px;
			}
		}
	}
	
	.jkt-site-navbar-menu-dropdown {
		&.show {
			.jkt-site-navbar-dropdown-menu {
				display: none;
				opacity: 0;
			}
		}
		
		&:hover > .jkt-site-navbar-dropdown-menu {
			display: block;
			opacity: 1;
		}
	}
	
	.jkt-site-navbar-menu-dropdown-trigger {
		&:after {
			float: none;
			padding-left: 7px;
			content: "\f078";
		}
	}
	
	.jkt-site-navbar-dropdown-menu {
		position: absolute;
		top: 18px;
		left: 0;
	}
	
	.jkt-site-navbar-dropdown-menu-panel {
		width: 350px;
		
		border-style: solid;
		border-width: 1px;
		border-color: $color-gray84;
		border-radius: 20px;
		@include jkt-border-box-shadow-gray84;
		
		grid-template-columns: 64px 1fr;
		
		img {
			width: 64px;
			height: 64px;
		}
	}
}

@media (min-width: $device-width-breakpoint-large) {
	.jkt-site-navbar {
		margin-left: auto;
		margin-right: auto;
	}
	
	.jkt-site-navbar-dropdown-menu-panel {
		width: 500px;
	}
}

@media (min-width: $device-width-breakpoint-xlarge) {
	.jkt-site-navbar {
		max-width: 1140px;
		grid-template-columns: repeat(8, 1fr);
	}
	
	.jkt-site-navbar-logo {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.jkt-site-navbar-menu {
		grid-column-start: 3;
		grid-column-end: 7;
	}
}