.jkt-site-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	
	hr {
		width: 80%;
	}
}

.jkt-site-footer-icon-links {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			&:not(:last-child):after {
				content: "";
				padding-right: 1px;
			}
		}
	}
	
	span {
		font-size: 1.5em;
	}
}

.jkt-site-footer-text-links {
	@include themify() {
		@include styleLinkApplySameColorToAllStates(v(page-footer-text-color));
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			font-weight: bold;
			font-size: 20px;
			display: inline;
			&:not(:last-child):after {
				font-weight: bold;
				content: "|";
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
}

.jkt-site-footer-line1 {
	@include themify() {
		@include styleLinkApplySameColorToAllStates(v(page-footer-text-color));
	}
}

.jkt-site-footer-line2 {
	font-size: 0.85em;
	
	@include themify() {
		@include styleLinkApplySameColorToAllStates(v(page-footer-text-color));
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-site-footer-icon-links {
		span {
			font-size: 2em;
		}
	}
}