.jkt-background-color-white {
	background: $color-white;
}

.jkt-background-color-palegreen2 {
	background: $color-palegreen2;
}

.jkt-background-color-gray98 {
	background: $color-gray98;
}