.jkt-heading {
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}

.jkt-heading-vertical-bar {
	@extend .jkt-heading;
	position: relative;
	padding-left: 1rem;
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		width: 5px;
		height: 100%;
		left: 0;
		top: 0;
   }
}

.jkt-heading-line-separator {
	@extend .jkt-heading;
	display: grid;
	width: 100%;
	align-items: center;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
	grid-gap: 20px;
	&:before,
	&:after {
		content: "";
		border-top-style: solid;
		border-top-width: 1px;
	}
}