<section class="gs-bjk-resume-classic-education-section">
	<div class="gs-bjk-resume-classic-section-heading">
		<h2>{{ include.heading }}</h2>
	</div>
	<div class="gs-bjk-resume-classic-section-content">
		<ul class="gs-list-no-style gs-list-item-margin-bottom-15">
			{% for degree in include.degrees %}
				<li>
					<div class="gs-bjk-resume-classic-education-school">{{ degree.school }}{% if degree.years %}, {{ degree.years }}</i>{% endif %}</div>
					<div>{{ degree.major }}{% if degree.latin-honor %}, {{ degree.latin-honor }}</i>{% endif %}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>