<section class="gs-bjk-resume-classic-header-section">
	<h1>{{ include.name }}</h1>
	<h2>{{ include.title }}</h2>
	<ul>
		<li>
			{% if include.linkedin %}
				<i class="fab fa-linkedin fa-fw fa-lg"></i><a href="{{ include.linkedin.url }}" target="_blank">{{ include.linkedin.display-url }}</a>
				{% if include.github %}
					<span>&#183;</span>
				{% endif %}
			{% endif %}
			{% if include.github %}
				<i class="fab fa-github-square fa-fw fa-lg"></i><a href="{{ include.github.url }}" target="_blank">{{ include.github.display-url }}</a>
			{% endif %}
		</li>
		<li>{{ include.phone-number }} </li>
	</ul>
</section>