<section class="gs-bjk-resume-classic-work-history-section">
	<div class="gs-bjk-resume-classic-section-heading">
		<h2>{{ include.heading }}</h2>
	</div>
	<div class="gs-bjk-resume-classic-section-content">
		{% for company in include.companies %}
			<div class="gs-bjk-resume-classic-work-history-job-employer">
				{{ company.company-name }}
			</div>
			<ul class="gs-list-no-style">
			{% for position in company.positions %}
				<li>
					<div class="gs-bjk-resume-classic-work-history-job-position">
							{% assign company-url = company.internal-page-url | relative_url %}
							{% if company.positions.size > 1 %}
								{% assign position-url = position.title | remove: ' ' | prepend: '#' | prepend: company-url %}
							{% else %}
								{% assign position-url = company-url %}
							{% endif %}
							
							<div>
								<div class="gs-bjk-resume-classic-work-history-job-position-title">{{ position.title }}</div>
								<div class="gs-bjk-resume-classic-work-history-job-position-duration">{{ position.duration-date-to-date }}</div>
							</div>
							<div>
								<ul style="list-style-type: disc;">
									{% for responsibility in position.cv.responsibilities %}
										<li>{{ responsibility }}</li>
									{% endfor %}
								</ul>
							</div>
					</div>
				</li>
			{% endfor %}
			</li>
		{% endfor %}
	</div>
</section>