{% if paginator.total_pages > 1 %}
	<nav class="jkt-paging-buttons">
		{% if paginator.previous_page %}
			<a class="jkt-button-paging-previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="gs-button-left-icon fas fa-long-arrow-alt-left"></i>Previous</a>
		{% endif %}
		
		{% if paginator.page_trail %}
			{% for trail in paginator.page_trail %}
				<a class="jkt-paging-button-primary{% if page.url == trail.path %} jkt-paging-button-selected{% endif %}" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
			{% endfor %}
		{% endif %}
		
		{% if paginator.next_page %}
			<a class="jkt-paging-button-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next<i class="gs-button-right-icon fas fa-long-arrow-alt-right"></i></a>
		{% endif %}
	</nav>
{% endif %}