.jkt-align-horizontal-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jkt-align-horizontal-left {
	text-align: left;
	margin-right: auto;
}

.jkt-align-horizontal-right {
	text-align: right;
	margin-left: auto;
}