@mixin make1ColumnGrid() {
	@include themify() {
		grid-template-columns: v(grid-1c-column-width);
		column-gap: v(grid-1c-gutter-width);
		row-gap: v(grid-row-gap);
	}
}

@mixin make2ColumnGrid() {
	@include themify() {
		grid-template-columns: v(grid-2c-column-width) v(grid-2c-column-width);
		column-gap: v(grid-2c-gutter-width);
		row-gap: v(grid-row-gap);
	}
}

@mixin make3ColumnGrid() {
	@include themify() {
		grid-template-columns: v(grid-3c-column-width) v(grid-3c-column-width) v(grid-3c-column-width);
		column-gap: v(grid-3c-gutter-width);
		row-gap: v(grid-row-gap);
	}
}

.jkt-grid-2c {
	display: grid;
	@include make1ColumnGrid();
}

.jkt-grid-3c {
	display: grid;
	@include make1ColumnGrid();
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-grid-2c {
		@include make2ColumnGrid();
	}
	
	.jkt-grid-3c {
		@include make2ColumnGrid();
	}
}

@media (min-width: $device-width-breakpoint-large) {
	.jkt-grid-3c {
		@include make3ColumnGrid();
	}
}