.jkt-background-pattern-dotted-gray {
	background: radial-gradient(#3333338a 2%,transparent 2.3%), radial-gradient(#d1cccc 12%,transparent 0);
	background-size: 6rem 6rem,1rem 1rem;
	background-position: -.5rem -.5rem,0 0;
}