.jkt-form-searchfield {
	font-family: $font-Segeo;
	background-color: $color-white;
	@include themify() {
		border-color: v(form-searchfield-border-color);
		border-style: v(form-searchfield-border-style);
		border-width: v(form-searchfield-border-width);
	}
	background-image: url($site-baseurl + '/assets/theme-site/images/icons/search.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
	
	&:focus {
		@include themify() {
			border-color: v(form-searchfield-border-color);
			border-style: v(form-searchfield-border-style);
			border-width: v(form-searchfield-border-width);
		}
	}
}