.jkt-ul-marker-fa-chevron {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	li {
		padding-left: 1.3rem;
	}
	li:not(:last-child) {
		margin-bottom: 1rem;
	}
	li:before {
		display: inline-block;
		margin-left: -1.3em;
		width: 1.2em;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: $font-fontAwesome5;
		font-weight: 900;
		content: "\f054";
	}
}

.jkt-list-ul-no-markers {
	list-style: none;
	margin: 0;
	padding: 0;
	li:not(:last-child) {
		margin-bottom: 0.438em;
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-list-ul-no-markers {
		li:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}