.jkt-panel {
	@include themify() {
		background: v(panel-background-color);
		border-color: v(panel-border-color);
		border-style: v(panel-border-style);
		border-width: v(panel-border-width);
	}
}